[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==0.24.2"
shapely = "==2.0.3"
pyproj = "==3.2.1"
tqdm = "==4.66.2"

[dev-packages]

[requires]
python_version = "3.7"
